.grasshopper-pagination {
  input.goto-page {
    .default-goto-page{
      height: 1.35rem;
    }
    width: 3rem;
    text-align: right;
    color: #999;
    padding: 0px 5px;
    font-size: 1em;
    margin-top: 2px;
  }

  a.total-pages {
    padding: 2px 0px 0px 0px;
  }

  ul.pagination{
   margin: 2px 10px 2px 10px;
   display:inline-block;
  }
}
